$TTL 604800
@   IN  SOA kts.    root.kts.   (
                    09042024; serial
                    604800; refresh
                    86400; retry
                    2419200; expire
                    604800); minimum
@   IN  NS  localhost.
245 IN  PTR dns
246 IN  PTR wiki
247 IN  PTR proxy
248 IN  PTR dc