$TTL 604800
@    IN    SOA    dns-kts.kts.domain. root.kts.domain. (
                20052024        ; Serial
                600             ; Refresh
                3600            ; Retry
                1w              ; Expire
                360             ; Minimum TTL
                )
@       IN      NS  localhost.
21      IN      PTR dns
22      IN      PTR wiki
23      IN      PTR dhcp
24      IN      PTR proxy